<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add project</title>
</head>
<body>
<h1>Add project</h1>
<form method="post" action="/fill-form">
    <label>Enter Your Project no: <input type="text" name="number"/></label><br><br>
    <label>Enter Your Title: <input type="text" name="name"/></label><br><br>
    <label>Enter Your Body: <input type="text" name="body"/></label><br><br>
    <label>Enter Your Link: <input type="text" name="github"/></label><br><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>