<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    {%include 'header.html'%}
</head>
<body>
<br>
<br>
<section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-2">Contact Me</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
            </div>
        </section>
        <footer class="footer text-center">
                <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-7 mb-3 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Contact No</h4>
                        <h3 class="text-uppercase mb-4">+91 8104778305
                        </h3>

                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-3 mb-lg-2">
                        <h4 class="text-uppercase mb-4">Email Id</h4>
                        <h3>wadhervivek6904@gmail.com</h3>
                    </div>
                </div>
                </div>
            <br>
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-7 mb-3 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Location</h4>
                        <p class="lead mb-0">
                            402, Khodiyar mata bldg,Devipada
                            <br />
                            Borivali East, Mumbai-400066.
                        </p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-3 mb-lg-2">
                        <h4 class="text-uppercase mb-4">Around the Web</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href=""><i class="fab fa-fw fa-instagram"></i></a>
<!--                        <a class="btn btn-outline-light btn-social mx-1" href=""><i class="fab fa-fw fa-twitter"></i></a>-->
                        <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/vivekwadher"><i class="fab fa-fw fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/vivekuw"><i class="fab fa-fw fa-github"></i></a>
                    </div>
                </div>
                </div>
        </footer>
 {%include 'footer.html'%}
</body>
</html>