<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>

</head>
<body>
{%include 'header.html'%}
<br>
<br>
<section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-2">Skill</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
            </div>
</section>
<ul class="list-group list-group- text-center">
    <li class="list-group-item"><h4>Python</h4></li>
  <li class="list-group-item"><h4>SQL</h4></li>
  <li class="list-group-item"><h4>Power BI</h4></li>
<!--  <li class="list-group-item"><h4>A fourth item</h4></li>-->
<!--  <li class="list-group-item"><h4>And a fifth one</h4></li>-->
</ul>

{%include 'footer.html'%}
</body>
</html>